body{
<<<<<<< HEAD
    color: blue;
=======
    color: red;
>>>>>>> cabecera
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 1em;
}
#container{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid rgb(171, 172, 170);
    margin: 0 auto;    
}

#container h1{
    font-size: 20px;
    margin: 1em;
    
}
#container p{
    
    margin: 1em;
    
}
#cabecera{
    background-color: #33a;
    color: white;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera #tagline{
    font-weight: normal;
    font-size: 0.8em;
    margin:0 0 0 1em;
}